.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* margin-left: 0; */
}

/* .header__icon {
  margin: 0;
  padding: 0;
} */

.header__logo {
  object-fit: contain;
  height: 40px;
}